

.icon {
    height: 50px;
    width: 50px;
    display: block;	
}

.icon-color {
	color: #6d757d;
}

.spin:hover {
	-webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

.icon-color:hover {
	color: #343a40;
}

.arrow-down-25 {
    background: url('img/ico/arrow-down-25.svg'); 
    height: 25px;
    width: 25px;   
}

.double-arrow-down-25 {
    background: url('img/ico/double-arrow-down-25.svg');
    height: 25px;
    width: 25px;      
}

.arrow-down-25:hover {
    background: url('img/ico/double-arrow-down-25.svg');
    height: 25px;
    width: 25px;      
}

.up-to-top {
	background: url('img/ico/up-to-top.svg');
}

.up-to-top:hover {
	background: url('img/ico/up-to-top-circle.svg');
	height: 74px;
    width: 74px;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.arrow-down {
    background: url('img/ico/arrow-down.svg');    
}

.double-arrow-down {
    background: url('img/ico/double-arrow-down.svg');    
}

.arrow-down:hover {
    background: url('img/ico/double-arrow-down.svg');    
}

.arrow-up {
    background: url('img/ico/arrow-up.svg');    
}

.double-arrow-up {
    background: url('img/ico/double-arrow-up.svg');    
}

.arrow-up:hover {
    background: url('img/ico/double-arrow-up.svg');     
}


.facebook {
    background: url('img/ico/icons8-facebook.svg');      
}

.instagram {
	background: url('img/ico/icons8-instagram.svg');      
}

.linkedin {
	background: url('img/ico/icons8-linkedin.svg');      
}

.card-img-top {
	height: 225px;
	width: 100%;
	display: block;
}

.jumbotron {
	margin-bottom: 0;
}

.custom-select, .custom-input {
	border:1px solid rgba(0,0,0,.125);
}

.custom-select:hover, .custom-select:active, .custom-select:focus,
.custom-input:hover, .custom-input:active, .custom-input:focus {
	box-shadow: 0 0 0 1px #697179;
	border:1px solid #697179;	
}

.mg-10 {
	margin: 10px;
}
.mg-20 {
	margin: 20px;
}
.mg-30 {
	margin: 30px;
}
.mg-40 {
	margin: 40px;
}
.mg-50 {
	margin: 50px;
}

.bg-light-gray {
	background-color: #e9ecef;
}

.btn-secondary {
	background-color: #343a40;
	border: none;	
}

.btn-secondary:hover {
	background-color: #697179;
	border: none;
}

.btn-outline-secondary:hover {
	background-color: #343a40;
	border: none;	
}

.shadowtext {
	text-shadow: 1px 1px 2px black, 0 0 1em black; 
    color: white;
}

.shadow-button {
	box-shadow: 0 .125rem .25rem #E9ECEF!important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}










